<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/image-slider.css">
    <link rel="stylesheet" href="/css/logo-displayer.css">
    <link rel="stylesheet" href="/css/css-waves.css">
    <script src="https://kit.fontawesome.com/663fda9ae6.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <%- include('../includes/image-slider.ejs') %>
                    <%- include('../includes/logo-displayer.ejs') %>
                        <%- include('../includes/feature-section.ejs') %>

                            <%- include('../includes/css-waves.ejs') %>
            </main>
            <%- include('../includes/end.ejs') %>